* {
	box-sizing: content-box;
	text-align: center;
}

body {
	padding: 20px;
	margin: 150px;
	margin-top: 20px;
	background-color: #666;
}

header {

	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
}

NAV {

	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
}

section {
	padding: 20px;
	border: 2px solid;
  margin-bottom: 20px;
  background-color: #ccc;
  color: white;
  float: left;
  width: 50%;
  height: 250px;

}

aside {
	padding: 20px;
  margin-bottom: 20px;
  background-color: #ccc; 
  float: right;
  width: 96%;

}

footer {

	background-color: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
	height: 250px;

}

#article {
	border: 2px solid;
	padding: 10px;
	width: 90%;
	height: 100px;
	background-color: #666;
}

#headings {
	border
	float: left;
	clear: both;
	width: 600px;
	height: 25px;
	background: #ccc;
}

#paragraph {
  clear: both;
  background-color: #eee;
  overflow: auto;
  width: 100%;
}

#division {
	background-color: #6ea3da
  padding: 20px;
}